<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
		<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
		<meta name="author" content="FREEHTML5.CO" />
		
		
		<!-- Facebook and Twitter integration -->
		<meta property="og:title" content=""/>
		<meta property="og:image" content=""/>
		<meta property="og:url" content=""/>
		<meta property="og:site_name" content=""/>
		<meta property="og:description" content=""/>
		<meta name="twitter:title" content="" />
		<meta name="twitter:image" content="" />
		<meta name="twitter:url" content="" />
		<meta name="twitter:card" content="" />
		
		
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link rel="shortcut icon" href="favicon.ico">
		
		<!-- Google Webfont -->
		<link rel="stylesheet" href="css/style.css">

		<!-- FOR IE9 below -->
		<!--[if lt IE 9]>
		<script src="js/respond.min.js"></script>
		<![endif]-->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		  
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<script
		src="http://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>

	<body class="inner-page">

		<!-- START #fh5co-header -->
		<header id="fh5co-header-section" role="header" class="" >
			<div class="container">

				<!-- START #fh5co-logo -->
				<h1 id="fh5co-logo" class="pull-left"><a href="/"><img src="/images/logo.png" alt="Slant Free HTML5 Template"></a></h1>

				<!-- START #fh5co-menu-wrap -->
				<nav id="fh5co-menu-wrap" role="navigation">
					<ul class="sf-menu" id="fh5co-primary-menu">
						<li><a href="/home/about">About Us</a></li>
						<li><a href="/concerts">경매</a></li>
						<li><a href="/posts">홍보게시판</a></li>
						<% if user_signed_in? %>
						<li><a href="/users/sign_out">로그아웃</a></li>
						<li><a href="/users/edit">정보수정</a></li>
						<% else %>
						<li><a href="/users/sign_in">로그인</a></li>
						<li class="active"><a href="/users/sign_up">회원가입</a></li>
						<% end%>
					</ul>
				</nav>
			<!-- </div> -->

			</div>
		</header>
		
		
		<div id="fh5co-hero">
			<a href="#fh5co-main" class="smoothscroll fh5co-arrow to-animate hero-animate-4"><i class="ti-angle-down"></i></a>
			<!-- End fh5co-arrow -->
			<div class="container">
				<div class="col-md-8 col-md-offset-2">
					<div class="fh5co-hero-wrap" style= "height: 100px;">
						<div class="fh5co-hero-intro">
							<h1 class="to-animate hero-animate-1">회원가입</h1>
							<h2 class="to-animate hero-animate-2">우리는 특별한 경험을 선사합니다.</h2>
						</div>
					</div>
				</div>
			</div>		
		</div>


		<div id="fh5co-main">
			<div class="container">
				<div class="row">

					<div class="fh5co-spacer fh5co-spacer-sm"></div>	
					<div class="col-md-8" style="margin-left:+200px; margin-top:-100px">
					<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name) ) do |f| %>
					<%= f.error_notification %>

					<div class="field">
					    <%= f.label :email %><br/>
					    <%= f.email_field :email, autofocus: true %>
			  		</div>	
				   
				    <div class="form-group">
				    	<%= f.label :name %><br/>
				    	<%= f.text_field :name, required: true, autofocus: true %>
				    </div>


			    	<%= f.label "Favorite Genre", :class=>"control-label input-group" %>
			    	<div class="container">
				      	<div class="btn-group" data-toggle="buttons">
					        <label class="btn btn-default">
					        	<%= f.radio_button :genre,'Classic', checked: true%>Classic
					        </label>
					        <label class="btn btn-default active">
					        	<%= f.radio_button :genre,'Musical', checked: true %>Musical
					        </label>
					        <label class="btn btn-default">
					          <%= f.radio_button :genre,'Hip Hop',checked: true %>Hip Hop
					        </label>
					        <label class="btn btn-default">
					          <%= f.radio_button :genre,'Dance',checked: true %>Dance
					        </label>
					        <label class="btn btn-default">
					          <%= f.radio_button :genre,'Acoustic',checked: true %>Acoustic
					        </label>
					        <label class="btn btn-default">
					          <%= f.radio_button :genre,'Rock',checked: true %>Rock
					        </label>
				      	</div>
			      	</div>
			      	
			      	<br>
			      	<br>
			 
      				<div class="field">
			    		<%= f.label :password %>
			    		<%= f.password_field :password, autocomplete: "off", required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
			  		</div>
			  		<div class="field">
			    		<%= f.label :password %>
			    		<%= f.password_field :password_confirmation, autocomplete: "off", required: true %>
			  		</div>

				<div class="form-actions">
				  <%= f.button :submit, "Sign up" %>
				</div>
			<% end %>

						
		</div>
	

		<div class="fh5co-spacer fh5co-spacer-md"></div>	

		</div>
	</div>
</div>
<!-- END fhtco-main -->


		<footer role="contentinfo" id="fh5co-footer">
			<a href="#" class="fh5co-arrow fh5co-gotop footer-box"><i class="ti-angle-up"></i></a>
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6 footer-box">
						<h3 class="fh5co-footer-heading">About us</h3>
						<p>우리 Gibid 서비스는 홍익대학교 멋쟁이 사자처럼에서 만든 서비스입니다. "당신의 소중한 돈을 지켜드립니다. 당신의 문화생활을 책임집니다. 우리의 세상을 더욱 풍족하게 합니다." 의 모토를 가지고 만들어졌습니다. </p>
						<p><a href="#" class="btn btn-outline btn-sm">프로젝트 둘러보기</a></p>
		
					</div>
					<div class="col-md-4 col-sm-6 footer-box">
						<h3 class="fh5co-footer-heading">Team Member</h3>
						<ul class="fh5co-footer-links">
							<li><a href="#">Noh Hyeonseong</a></li>
							<li><a href="#">Yang Hyobin</a></li>
							<li><a href="#">Lee Juha</a></li>
							<li><a href="#">Lee Juhee</a></li>
		
						</ul>
					</div>
					<div class="col-md-4 col-sm-12 footer-box">
						<h3 class="fh5co-footer-heading">Get in touch</h3>
						<ul class="fh5co-social-icons">
		
							<li><a href="#"><i class="ti-google"></i></a></li>
							<li><a href="#"><i class="ti-twitter-alt"></i></a></li>
							<li><a href="#"><i class="ti-facebook"></i></a></li>
							<li><a href="#"><i class="ti-instagram"></i></a></li>
							<li><a href="#"><i class="ti-dribbble"></i></a></li>
						</ul>
					</div>
					<div class="col-md-12 footer-box">
						<div class="fh5co-copyright">
						<p>&copy; 2017 likealion @hongik . All Rights Reserved.</p>
						</div>
					</div>
		
				</div>
				<!-- END row -->
				<div class="fh5co-spacer fh5co-spacer-md"></div>
			</div>
		</footer>
	
	
	

	</body>
</html>
